.App {
  /* text-align: center; */
  background-color: #23252C;
  min-height: 100vh;
  position: relative;
  padding: 20px;
  position: relative;
}

*{
  margin: 0px;
  box-sizing: border-box;
}

.card-container{
  width: 317px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1A1B21;
  margin: auto;
  color: #fff;
  /* position: absolute;
  left: 0%;
  right:0%;
  top: 50%;
  transform: translateY(-50%); */
}

.PhotoWrap{
  width: 317px;
  height: 317px;
  overflow: hidden;
  margin-bottom: 21px;;
}

.PhotoWrap img{
  width: 100%;
  /* height: auto; */
}

.Name{
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0px;
  color: #FFFFFF;
  margin-bottom: 7px;;
}

.section-name{
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */  
  color: #F5F5F5;
  margin-bottom: 5px;;
}

.info-text{
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */


  color: #DCDCDC;
}


.Position{
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F3BF99;
  margin-bottom: 15px;;
}


.Buttons-wrap{
  max-width:247px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;;

}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 26px;
  text-decoration: none;
  width: 115px;
  border-radius: 6px;

}

.button-white{
  background-color: #FFFFFF;
  border: 1px solid #D1D5DB;
  color: #374151;
  transition: background-color ease 0.3s;

}
.button-white:hover{
  background-color: #EBEBEB;


}

.button-white .button-name{
  font-weight: 500;
  font-size: 14px;
  color: #374151;
}

.button-blue{
  background: #5093E2;
  border: 1px solid #5093E2;
  color: #fff;
  transition: background-color ease 0.3s;
}
.button-blue:hover{
  background: #3A7FCF;

}


.button-blue .button-name{
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}

.button-name{
  line-height: 15px;
}

.button-image{
  line-height: 16px;;
  margin-right: 8px;;
  width: 16px;
  padding-top: 2px;
}

.AboutWrap, .InformWrap{
  padding: 0px 36px;
  margin-bottom: 27px;
}

.InformWrap{
  margin-bottom: 42px;
}


.footer{
  background-color: #161619;
  padding: 19px 0px;
}


.SocialsWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  margin: 0 auto;
  list-style: none;
  padding: 0px;
}


.social-link svg path{
  transition: all ease-in-out 0.3s;
}
.social-link:hover svg path {
  fill: #fff;
}